## Pandas âœ¨

DataFrame is a table, similar to an Excel spreadsheet.

In [1]:
import pandas as pd

data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Location': ['New York', 'Paris', 'Berlin', 'London'],
    'Age': [24, 13, 54, 33]
}

df = pd.DataFrame(data) 
display(df)

    Name  Location  Age
0   John  New York   24
1   Anna     Paris   13
2  Peter    Berlin   54
3  Linda    London   33