## Pandas âœ¨

DataFrame is a table, similar to an Excel spreadsheet.

In [11]:
import pandas as pd

data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Location': ['New York', 'Paris', 'Berlin', 'London'],
    'Age': [24, 13, 54, 33]
}

df = pd.DataFrame(data)
print(df)

TypeError: 'module' object is not callable